@charset "UTF-8";

	@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
    @font-face {
        font-family: 'GmarketSans';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    /* 기본 설정 초기화 */
    * {
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video, button {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 16px;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        vertical-align: baseline;
        box-sizing: border-box;
        color: var(--font-color);
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1.4;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    a:hover {
    	color: var(--font-color);
    	text-decoration: none;
    }
    
    
    /* 헤더 */
   	header {
	    width: 100%;
	    position: fixed;
	    z-index: 999;
	    top: 0;
	    left: 50%;
	    transform: translateX(-50%);
		padding : 16px 10px 17px;
		border-bottom: 1px solid #F2F3F4;
	    background: #fff;
	}
	
	.header-inner {
		max-width : 1300px;
		margin : 0 auto;
		display : flex; display: -moz-box; display: -ms-flexbox;
		-webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between;
		-webkit-box-align: center; -ms-flex-align: center; align-items: center;  
	}
	
	header .menu {
		display : flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox;
	}
	
	header .menu li a{
		padding: 10px 14px;
		margin: 0 9px;
		font-size: 18px;
	}
	
	header .menu li a:hover{
		color: var(--main-color);
	}
	
	.menu > li {
		position: relative;
	}
	
	.menu .depth2 {
		display: none;
	    position: absolute;
    	top: 52px;
   	    left: 50%;
    	transform: translateX(-50%);
   	    width: max-content;
    	padding: 30px 0;
    	text-align: center;
    	background : rgba(255,255,255,0.8);
    	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.12);
    	backdrop-filter: blur(3px);
	}
	
	.menu .depth2 a {
		display: inline-block;
		padding: 6px 14px;
		font-size: 16px;
	}
	
	.menu .depth2 a:hover {
		color: var(--main-color);
	}
	
	header .login-box {
		display : flex; display: -moz-box; display: -ms-flexbox;
		-webkit-box-align: center; -ms-flex-align: center; align-items: center;
	}
	
	header .login {
		margin-right : 20px;
	}
	
	header .profile-box {
		width : 46px;
		height : 46px;
		margin-right: 2px;
		display : flex; display: -moz-box; display: -ms-flexbox;
		-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
		-webkit-box-align: center; -ms-flex-align: center; align-items: center;  
	}
	
	header .profile-box .profile-img{
		width: 32px;
		border-radius: 100%;
	}
	
	header .notice{
		position: relative;
	    padding: 6px;
		cursor: pointer;
	}
	
	header .notice .num-box{
		position: absolute;
   		top: -1px;
    	right: 0px;
		width: 16px; 
		height: 16px;
		line-height: 16px;
		text-align: center;
		background: var(--main-color);
		border-radius: 50%;
	}
	header .notice .num-box span{
		color: #fff;
		font-size: 11px;
	}
	
	header .admin-menu {
		display : none;
	}
	
	header .admin-mod {
		display : flex; display: -moz-box; display: -ms-flexbox;
		-webkit-box-align: center; -ms-flex-align: center; align-items: center;  
	}
	
	header .admin-mod .toggle-slider{
	    display: inline-block;
	    cursor: pointer;
	    width: 48px;
	    height: 24px;
   		margin: 0 4px 0 18px;
	    background-color: #e0e0e0;
	    border-radius: 25px;
	    position:relative;
	    transition: 0.3s ease-out;
	}
	
	header .admin-mod .toggle-slider::after {
	    content: ''; 
	    width: 18px; 
	    height: 18px;
	    background-color: #fff;
	    position: absolute;
	    border-radius: 50%;
	    top: 3px;
	    left: 2px;
	    transition: 0.3s ease-out;
	}
	
	header .admin-mod.on .toggle-slider{
	    background-color: #444;
	}

	header .admin-mod.on .toggle-slider::after {
	    left:calc(100% - 20px);
	    background-color: #fff;
	}
	
	header .admin-mod span {
		display: inline-block;
		width: 37px;
		font-size: 14px;
		font-weight: 600;
	}
	
	
    /* 푸터 */
    .footer {
		padding : 44px 0 44px;
		background: #f9f9f9;
	}
	.footer-inner {
		position: relative;
		max-width: 1300px;
		margin: 0 auto;
		display : flex; display: -moz-box; display: -ms-flexbox;
		-webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between;
		-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;  
		font-size: 14px;
	}
	.footer .col {
		padding: 0;
	}
	.footer .col li {
		margin: 10px 0;
	}
	.footer .col .footer-tit {
	    margin-bottom: 18px;
	    font-size: 18px;
		color: #777;
		font-weight: 500;
	}
	.footer a{
		font-size: 15px;
		
	}
	.footer .col:last-child{
		position: initial;
		display: -moz-box; display: -ms-flexbox; display: flex;
		-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column;
		-webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between;
	}
	.footer .col:last-child li:first-child a{
		font-size: 14px;
	}
	.footer .copyright{
	    position: absolute;
   	    bottom: 11px;
		color: #999;
		font-weight: 300;
	}
    

	/* 공통 태그 */
	.inner {
		max-width: 1300px;
		margin: 80px auto 0;	
	}

    /* 색상 (쓸때는 => var(--main-color) ) */
    :root{
        --main-color : #FB7E3A; /* 메인 컬러(주황) */
        --blue : #5A62EC; /* 블루컬러 */        
        --btn-bd-g : #aaa; /* 버튼 border */
        --input-bd : #ccc; /* input border */
        --font-color : #333; /* 기본 폰트 컬러 */
    }

    /* 타이틀 */
    .title1 {
        color: var(--font-color);
        font-family: "GmarketSans", sans-serif;
        font-size: 34px;
        font-weight: 700;
    }
    .title2 {
        color: var(--font-color);
        font-family: "Pretendard Variable", sans-serif;
        font-size: 20px;
        font-weight: 500;
    }


    /* 태그 */
    .tag-l-bd{
        width: fit-content;
        padding: 8px 16px;
        height: 38px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        justify-content: flex-start;
        background: #fff;
        border-radius: 1000px;
        border: 1px solid #f2f2f2;
        font-size: 14px;
    }
    .tag-m-gray {
        width: fit-content;
        background-color: #eee;
        padding: 4px 10px;
        height: 30px;
        color: var(--font-color);
        font-size: 16px;
        border-radius: 20px;
    }
    .tag-s-org {
        width: fit-content;
        background-color: var(--main-color);
        padding: 3px 8px;
        height: 22px;
        color: #fff;
        font-size: 12px;
        border-radius: 20px;
    }

    /* 버튼 01:주황/02:주황보더/03:그레이보더 l/m/s */
    .btn01-l {
        display: inline-block;
        padding: 12px 30px;
        height: 48px;
        margin: 0 6px;
        border: 1px solid var(--main-color);
        border-radius: 10px;
        background: var(--main-color);
        color: #fff;
        cursor: pointer;
    }
    .btn02-l {
        display: inline-block;
        padding: 12px 30px;
        height: 48px;
        margin: 0 6px;
        border: 1px solid var(--main-color);
        border-radius: 10px;
        color: var(--main-color);
        background: #fff;
        cursor: pointer;
    }
    .btn03-l {
        display: inline-block;
        padding: 12px 30px;
        height: 48px;
        margin: 0 6px;
        border: 1px solid var(--btn-bd-g);
        border-radius: 10px;
        color: var(--btn-bd-g);
        background: #fff;
        cursor: pointer;
    }
    .btn01-m {
        display: inline-block;
        height: 37px;
        padding: 7px 20px;
        margin: 0 4px;
        background: var(--main-color);
        border-radius: 10px;
        border: 1px solid var(--main-color);
        color: #fff;
        cursor: pointer;
    }
    .btn02-m {
        display: inline-block;
        height: 37px;
        padding: 7px 20px;
        margin: 0 4px;
        border-radius: 10px;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        background: #fff;
        cursor: pointer;
    }
    .btn03-m {
        display: inline-block;
        height: 37px;
        padding: 7px 20px;
        margin: 0 4px;
        border-radius: 10px;
        border: 1px solid var(--btn-bd-g);
        color: var(--btn-bd-g);
        background: #fff;
        cursor: pointer;
    }
    .btn01-s {
        display: inline-block;
        height: 32px;
        padding: 6px 11px;
        margin: 0 4px;
        background: var(--main-color);
        border-radius: 10px;
        border: 1px solid var(--main-color);
        color: #fff;
        cursor: pointer;
        font-size: 14px;
    }
    .btn02-s {
        display: inline-block;
        height: 32px;
        padding: 6px 11px;
        margin: 0 4px;
        border-radius: 10px;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        background: #fff;
        cursor: pointer;
        font-size: 14px;
    }
    .btn03-s {
        display: inline-block;
        height: 32px;
        padding: 6px 11px;
        margin: 0 4px;
        border-radius: 10px;
        border: 1px solid var(--btn-bd-g);
        color: var(--btn-bd-g);
        background: #fff;
        cursor: pointer;
        font-size: 14px;
    }

    /* input */
    input[type="radio"]{
        position: relative;
        -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none; 
        border: 1px solid var(--input-bd);
        border-radius: 50%;
        cursor: pointer;
        width: 20px; height: 20px;

    }
    input[type="radio"]::before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: var(--main-color);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;
	}

	input[type="radio"]:checked::before {
		visibility: visible;
	}

    input[type="checkbox"] {
        position: relative;
        width: 20px; height: 20px;
        margin-right: 6px;
        appearance: none; /* 기본(네이티브) 모양을 제거 */
        border: 1px solid var(--input-bd);
        border-radius: 2px;
        cursor: pointer;
    }

    input[type="checkbox"]::after {
        content: "";
        width: 14px;
        height: 11px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../img/common/ico_check.png');
        /* visibility: hidden; */
    }

    input[type="checkbox"]:checked {
        border-color: var(--main-color);
		background-color: var(--main-color);
	}
	
    input[type="checkbox"]:checked::after {
        visibility: visible;
    }

	#tagFilters label {
		display: -moz-box; display: -ms-flexbox; display: flex;
		-webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between;
		-webkit-box-align: center; -ms-flex-align: center; align-items: center;  
	 	padding: 5px 14px;
	 	width: fit-content;
    	height: 38px;
    	line-height: 38px;
   	 	position: relative;
    	border-radius: 100px;
    	border: 1px solid rgba(0,0,0,0.07);
	 	margin-right: 15px;
	  	font-size: 16px;
	  	cursor: pointer;
	}
	
	#tagFilters input[type="checkbox"] {
	    position: absolute;
		width: 0px;
    	height: 0px;
	   	margin-right: 5px;
	   	appearance: none;
	   	visibility: hidden;
	}
    
   	#tagFilters label.checked {
		background-color: rgba(253,111,34,0.22);
	} 
    
    #tagFilters input[type="checkbox"]:after, #tagFilters input[type="checkbox"]:checked::after {
    	display: none; 
    	visibility: hidden;
    }
    
    
    select{
        width: 170px;
        height: 46px;
        padding: 11px 8px;
        margin-right: 4px;
        font-size: 16px;
        border-radius: 6px;
        border-color: var(--input-bd);
        color: var(--font-color);
        -webkit-appearance:none; /* for chrome */
        -moz-appearance:none; /*for firefox*/
        appearance:none;
        background: url('../img/common/ico_select.png') center right 10px no-repeat;
    }
    input[type="text"]{
        width: 360px;
        padding: 7px 8px;
        margin-right: 4px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid var(--input-bd);
    }
    input[type="text"].input-txt-l{
        width: 550px;
        padding: 11px 8px;
   		height: 46px;
    }
    .btn-sch {
        width: 46px;
        height: 46px;
        background: var(--main-color) url('../img/common/ico_sch.png') center no-repeat;
        border: 1px solid var(--main-color);
        border-radius: 6px;
        text-indent: -1000px;
        overflow: hidden !important;
        cursor: pointer;
    }
    .confirm-box {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        width: 400px;
        padding: 50px 14px;
        background: #fff;
        border-color: #f2f3f4;
        box-shadow: var(--shadow1-box-shadow, 0px 4px 13px 0px rgba(0, 0, 0, 0.12));
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
    .confirm-box p {
        font-size: 18px;
    }
    .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }
    .confirm-box .btn-box{
        margin-top: 24px;
    }
    .confirm-box .btn-close{
        position: absolute;
        top: 10px; right: 10px;
        display: inline-block;
        width: 24px; height: 24px;
        cursor: pointer;
        text-indent: -1000px;
        overflow: hidden;
        background: url('../img/common/ico_close.png') center no-repeat;
        background-size: 17px;
    }
    
    #pagination{
   	    justify-content: center;
    }
    
    #pagination .page-link{
	    width: 36px; height: 36px;
   	    margin: 0 4px;
	    padding: 8px;
   	    text-align: center;
   	 	border-radius: 4px;
   	 	border: 1px solid #ddd;
   	 	color: var(--font-color);
   	 	font-size: 15px;
    }
    
    #pagination .first .page-link{
    	 background: url('../img/common/ico_arrow_dbl.png') center no-repeat;
    	 text-indent: -9999px;
    	 overflow: hidden;
    }
    
    #pagination .prev .page-link{
    	background: url('../img/common/ico_arrow.png') center no-repeat;
    	 text-indent: -9999px;
    	 overflow: hidden;
    }
    
    #pagination .next .page-link{
    	background: url('../img/common/ico_arrow.png') center no-repeat;
    	 text-indent: -9999px;
    	 overflow: hidden;
    	 transform: rotate(180deg);
    }
    
   #pagination .last .page-link{
    	background: url('../img/common/ico_arrow_dbl.png') center no-repeat;
    	 text-indent: -9999px;
    	 overflow: hidden;
    	 transform: rotate(180deg);
    }
    
    #pagination .page-item.active .page-link {
    	background-color: var(--main-color);
    	color: #fff;
    	border-color: var(--main-color);
    }
    
   #pagination .first .page-link:hover, #pagination .prev .page-link:hover, #pagination .last .page-link:hover, #pagination .next .page-link:hover {background-color: #e9ecef;}

	table {
		width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        border-top: 1px solid #ddd;
    }
    
    table tr{
    	border-bottom : 1px solid #ddd;
    }
    
   	table th{
   		background : #f5f5f5;
   		padding: 25px 16px;
  		font-size: 18px;
   		font-weight: 600;
   		text-align: center;
   	}
   	
  	table td{
  		padding: 20px 16px;
  		text-align: center;
  	}
  	
  	.align-l {
    	text-align : left;
    }
    
    .elipsis {
    	overflow: hidden;
	 	white-space: nowrap;
		text-overflow: ellipsis;
		word-break: break-all;
    }