<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.erunjrun.admin.dao.AdminDAO">
  	
  	<select id="getAllowedIp" resultType="String">
      SELECT ip FROM admin WHERE
      admin_id = #{id}
   </select>

   <select id="adminLogin" parameterType="map" resultType="boolean">
      SELECT
      COUNT(admin_id) > 0
      FROM admin
      WHERE admin_id = #{id} AND admin_pw = #{pw}
   </select>

   <select id="getAuthority" parameterType="String"
      resultType="String">
      SELECT is_admin
      FROM admin
      WHERE admin_id = #{id}
   </select> 
  	
  	<insert id="adminJoin" parameterType="String">
      INSERT INTO admin
      (admin_id, admin_pw, name, ip)
      VALUES (#{id}, #{pw}, #{name}, #{ip})
   </insert>
   
   <select id="SgetAllowedIp" resultType="String">
      SELECT ip FROM admin WHERE
      admin_id = #{id}
   </select>
  	
  	<select id="memberlist" resultType="com.erunjrun.admin.dto.AdminDTO">
  		SELECT 
	    m.id,
	    m.nickname,
	    m.email,
	    m.join_date,
	    COALESCE(b.is_right, 'N') AS report_status,
	    (SELECT COUNT(*) 
	    FROM report_write rw
	   		 WHERE rw.id = m.id) AS report_count
		FROM 
		    member m
		LEFT JOIN 
		    ban b ON m.id = b.id
		  
	     <where>
        <if test="keyword != null and !keyword.equals('') and opt.equals('id')">
            m.id LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="keyword != null and !keyword.equals('') and opt.equals('nickname')">         
            m.nickname LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="keyword != null and !keyword.equals('') and opt.equals('email')">
            m.email LIKE CONCAT('%', #{keyword}, '%')
        </if>      
    </where>
    GROUP BY m.id, m.nickname, m.email, m.join_date, report_status
  	 ORDER BY m.id DESC LIMIT #{limit} OFFSET #{offset}
  	</select>
  	
  	<select id="count" resultType="int">
		SELECT CEIL(count(id)/#{param1}) AS pages FROM member
	</select>
	
  	<select id="adminlist" resultType="com.erunjrun.admin.dto.AdminDTO">
  		SELECT admin_id,name,join_date FROM admin 
  		<where>
  		<if test="keyword != null and !keyword.equals('') and opt.equals('id')">
            admin_id LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="keyword != null and !keyword.equals('') and opt.equals('name')">         
            name LIKE CONCAT('%', #{keyword}, '%')
        </if>
  		</where>
  		ORDER BY admin_id DESC LIMIT #{limit} OFFSET #{offset}
  	</select>
  
  	<select id="admincount" resultType="int">
		SELECT CEIL(count(admin_id)/#{param1}) AS pages FROM admin
	</select>
	
	<select id="memberdetail" resultType="com.erunjrun.admin.dto.AdminDTO">
		SELECT id,nickname,email,address,gender,birth,phone FROM member where id = #{param1}
	</select>
	
  
  	<select id="reportlist" resultType="com.erunjrun.admin.dto.AdminDTO" >
  	  	SElECT id,code_name,unlike_id,use_yn,create_Date From report_write where id = #{param1}
  	</select>
  
  	<select id="ban" resultType="com.erunjrun.admin.dto.AdminDTO">
  	 	SELECT b.id,b.start_date,b.end_date,b.process_date,c.content FROM ban b
		JOIN code c ON b.code_name = c.code_name  WHERE id = #{param1}
  	</select>
  	
  	<select id="right" resultType="String">
  	  	SELECT id from member where nickname = #{param1}
  	</select>
  	
  
  	<insert id="rightwrite" parameterType="Map">
  		INSERT INTO ban(id, admin_id, code_name, start_date, end_date, ban_content)
  						VALUES(#{id},#{admin_id},#{code_name},#{start_date},#{end_date},#{ban_content})
  	</insert>
  <!-- id,admin_id,is_ban 추가해야됌 -->
  
  <select id="rightdetail" resultType="com.erunjrun.admin.dto.AdminDTO">
  		SELECT b.id,m.nickname,b.start_date,b.end_date,b.ban_content,b.code_name,c.content FROM ban b
		LEFT JOIN  code c ON b.code_name = c.code_name  
		LEFT JOIN  member m ON b.id = m.id WHERE b.id = #{param1}
  </select>
  
  <update id="rightupdate" parameterType="Map">
  	UPDATE ban <set>
  		 <if test= "id != null">
			id = #{id},
		</if>
		<if test="admin_id != null">
			admin_id = #{admin_id},
		</if>
		<if test="code_name != null">
			code_name = #{code_name},
		</if>
		<if test="start_date != null">
			start_date = #{start_date},
		</if>
		<if test="end_date != null">
			end_date = #{end_date} ,
		</if>
		<if test="ban_content != null">
			ban_content = #{ban_content} 
		</if>
  	</set>
			  WHERE id = #{id}
  </update>
  
  
  </mapper>