<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.erunjrun.admin.dao.AdminDAO">
  	
  	<select id="getAllowedIp" resultType="String">
      SELECT ip FROM admin WHERE
      admin_id = #{id}
   </select>

   <select id="adminLogin" parameterType="map" resultType="boolean">
      SELECT
      COUNT(admin_id) > 0
      FROM admin
      WHERE admin_id = #{id} AND admin_pw = #{pw}
   </select>

   <select id="getAuthority" parameterType="String"
      resultType="String">
      SELECT is_admin
      FROM admin
      WHERE admin_id = #{id}
   </select> 
  	
  	<insert id="adminJoin" parameterType="String">
      INSERT INTO admin
      (admin_id, admin_pw, name, ip)
      VALUES (#{id}, #{pw}, #{name}, #{ip})
   </insert>
   
   <select id="SgetAllowedIp" resultType="String">
      SELECT ip FROM admin WHERE
      admin_id = #{id}
   </select>
  	
  	<select id="memberlist" resultType="com.erunjrun.admin.dto.AdminDTO">
  		SELECT 
	    m.id,
	    m.nickname,
	    m.email,
	    m.join_date,
	    CASE 
	        WHEN b.id IS NOT NULL THEN 'Y'
	        ELSE 'N'
	    END AS report_status,
	    (SELECT COUNT(*) 
	    FROM report_write rw
	   		 WHERE rw.id = m.id) AS report_count
		FROM 
		    member m
		LEFT JOIN 
		    ban b ON m.id = b.id
	     <where>
        <if test="keyword != null and !keyword.equals('') and opt.equals('id')">
            m.id LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="keyword != null and !keyword.equals('') and opt.equals('nickname')">         
            m.nickname LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="keyword != null and !keyword.equals('') and opt.equals('email')">
            m.email LIKE CONCAT('%', #{keyword}, '%')
        </if>      
    </where>
  	</select>
  	
  	<select id="count" resultType="int">
		SELECT CEIL(count(id)/#{param1}) AS pages FROM member
	</select>
	
  	<select id="adminlist" resultType="com.erunjrun.admin.dto.AdminDTO">
  		SELECT admin_id,name,join_date FROM admin
  	</select>
  
  	<select id="admincount" resultType="int">
		SELECT CEIL(count(admin_id)/#{param1}) AS pages FROM admin
	</select>
	
	<select id="memberdetail" resultType="com.erunjrun.admin.dto.AdminDTO">
		SELECT id,nickname,email,address,gender,birth,phone FROM member where id = #{param1}
	</select>
	
  
  	<select id="reportlist" resultType="com.erunjrun.admin.dto.AdminDTO" >
  	  	SElECT id,code_name,unlike_id,use_yn,create_Date From report_write where id = #{param1}
  	</select>
  
  	<select id="ban" resultType="com.erunjrun.admin.dto.AdminDTO">
  	 	select  id,start_date,end_date,process_date from ban where id = #{param1}
  	</select>
  
  	<insert id="rightwrite" parameterType="Map">
  		INSERT INTO ban(code_name,start_date,end_date,content)
  						VALUES(#{code_name},#{start_date},#{end_date},#{content})
  	</insert>
  <!-- id,admin_id,is_ban 추가해야됌 -->
  
  </mapper>