<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.erunjrun.comment.dao.CommentDAO">
	
	<select id="list" resultType="com.erunjrun.comment.dto.CommentDTO">
		SELECT * FROM comment c LEFT JOIN member m on c.nickname = m.nickname 
			WHERE board_idx = #{board_idx} ORDER BY create_date ${order}
	</select>
	
	<!-- 러닝코스 댓글 등록 -->
	<insert id="addComment" parameterType="com.erunjrun.comment.dto.CommentDTO">
		INSERT INTO comment(code_name,board_idx,content,nickname)
							VALUES('B100',#{board_idx},#{content},#{nickname})
	</insert>
	
	 <insert id="commPoint" parameterType="map">
    	INSERT INTO member_point (code_name, id, point)
    		VALUES (#{code_name}, #{id},#{point})
    </insert>
    
    <update id="update" parameterType="com.erunjrun.comment.dto.CommentDTO">
    	UPDATE comment SET content = #{content} WHERE comment_idx = #{comment_idx}
    </update>
    
    <update id="delete" parameterType="int">
    	UPDATE comment SET use_yn = 'N' WHERE comment_idx = #{comment_idx}
    </update>
    
    <!-- 크루 공지 댓글 리스트 -->
    <select id="commentList" resultType="com.erunjrun.crew.dto.CrewNoticeDTO">
		SELECT cnc.*, m.nickname
			FROM crew_notice_comment cnc
			JOIN member m ON cnc.id = m.id
			WHERE cnc.notice_idx = #{notice_idx}
	</select>
	
	<select id="nickName" resultType="com.erunjrun.member.dto.MemberDTO">
    	select * from member where id = #{param1}
    </select>
    
    <!-- 크루 공지 댓글 등록 -->
    <insert id="noticeComment" parameterType="com.erunjrun.crew.dto.CrewNoticeDTO">
		INSERT INTO crew_notice_comment(notice_idx,content,id)
							VALUES(#{notice_idx},#{content},#{loginId})
	</insert>
	
	 <update id="updateNoticeComment" parameterType="com.erunjrun.crew.dto.CrewNoticeDTO">
    	UPDATE crew_notice_comment SET content = #{content} WHERE comment_idx = #{comment_idx}
    </update>
    
    <update id="nocoDel" parameterType="com.erunjrun.crew.dto.CrewNoticeDTO">
    	UPDATE crew_notice_comment SET use_yn = 'N' WHERE comment_idx = #{comment_idx}
    </update>
    
    <!-- 자유게시판 댓글 등록 -->
    <insert id="addFreeComment" parameterType="com.erunjrun.comment.dto.CommentDTO">
		INSERT INTO comment(code_name,board_idx,content,nickname)
							VALUES('B101',#{board_idx},#{content},#{nickname})
	</insert>
	
	<!-- 관리자 답변 댓글등록 -->
	<insert id="addAskComment" parameterType="com.erunjrun.comment.dto.CommentDTO">
		INSERT INTO comment(code_name,board_idx,content,nickname)
							VALUES('Q105',#{board_idx},#{content},#{nickname})
	</insert>
	
	<!-- 답변시 처리완료 -->
	<update id="askYes" parameterType="com.erunjrun.board.dto.RunBoardDTO">
		UPDATE ask SET is_ask = 'Y' WHERE ask_idx = #{board_idx}
	</update>

</mapper>