<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.erunjrun.report.dao.ReportDAO">
	
	<!-- 게시글 신고 -->
	<insert id="report" 
				useGeneratedKeys="true"
				keyColumn="report_idx"
				keyProperty="report_idx"
				parameterType="com.erunjrun.report.dto.ReportDTO">
		insert into report_write(id,code_name,content,unlike_id,subject,url)
								values(#{id},'R100',#{content},#{unlike_id},#{subject},#{url})
	</insert>
	
	<select id="reput" parameterType="int" resultType="com.erunjrun.board.dto.RunBoardDTO">
		select * from board where board_idx = #{board_idx}
	</select>
	
	<insert id="fileWrite" parameterType="com.erunjrun.image.dto.ImageDTO">
		INSERT INTO image(code_name, img_ori, img_new, img_no)
						VALUES(#{code_name}, #{img_ori}, #{img_new}, #{img_no})
	</insert>
	
	<select id="comment" parameterType="int" resultType="com.erunjrun.comment.dto.CommentDTO">
		SELECT * 
			FROM comment c JOIN member m 
			    ON c.nickname = m.nickname
			    WHERE c.comment_idx = #{param1}
	</select>
	 
	<!-- 댓글신고 -->
	<insert id="reportComment" 
				useGeneratedKeys="true"
				keyColumn="report_idx"
				keyProperty="report_idx"
				parameterType="com.erunjrun.report.dto.ReportDTO">
		insert into report_write(id,code_name,content,unlike_id,subject,url)
								values(#{id},'R101',#{content},#{unlike_id},#{subject},#{url})
	</insert>
	
	<!-- 크루댓글신고 -->	
	<insert id="reportNoticeComment" 
				useGeneratedKeys="true"
				keyColumn="report_idx"
				keyProperty="report_idx"
				parameterType="com.erunjrun.report.dto.ReportDTO">
		insert into report_write(id,code_name,content,unlike_id,subject,url)
								values(#{id},'R101',#{content},#{unlike_id},#{subject},#{url})
	</insert>
	
	<select id="crew" resultType="com.erunjrun.crew.dto.CrewNoticeDTO">
		SELECT * FROM crew_notice_comment WHERE comment_idx = #{comment_idx}
	</select>
	
	

	
</mapper>