<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.erunjrun.report.dao.ReportDAO">
	
	<insert id="report" parameterType="com.erunjrun.report.dto.ReportDTO">
		insert into report_write(id,code_name,content,unlike_id)
								value(#{id},#{code_name},#{content},#{unlike_id})
	</insert>
	
</mapper>