<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.erunjrun.board.dao.RunBoardDAO">
	
	<select id="list" resultType="com.erunjrun.board.dto.RunBoardDTO">
        SELECT 
            b.board_idx,
            m.nickname,
            b.subject,
            b.bHit,
            b.likes,
            b.create_date
        FROM 
            board b 
        JOIN 
            member m ON b.id = m.id
        WHERE 
            b.code_name = 'B100'
            AND b.use_yn = 'Y'
            AND b.is_map = 'Y'
        ORDER BY
            b.board_idx DESC
        LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<!-- CEIL(COUNT(board_idx)/#{param1}) AS pages -->
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM board b WHERE b.use_yn = 'Y' AND b.is_map = 'Y' AND b.code_name = 'B100'
    </select>
    
    <select id="bHitList" resultType="com.erunjrun.board.dto.RunBoardDTO">
		SELECT 
            b.board_idx,
            m.nickname,
            b.subject,
            b.bHit,
            b.likes,
            b.create_date
        FROM 
            board b 
        JOIN 
            member m ON b.id = m.id
		WHERE MONTH(create_date) = MONTH(NOW())
			AND b.code_name = 'B100'
            AND b.use_yn = 'Y'
            AND b.is_map = 'Y' 
			ORDER BY likes DESC
			LIMIT 3;
    </select>
    
    <select id="search" resultType="com.erunjrun.board.dto.RunBoardDTO">
	    SELECT 
	        b.board_idx,
	        m.nickname,
	        b.subject,
	        b.content,
	        b.bHit,
	        b.likes,
	        b.create_date
	    FROM 
	        board b
	    JOIN 
	        member m ON b.id = m.id
	    WHERE 
	        b.use_yn = 'Y'
	        AND b.is_map = 'Y'
	        AND b.code_name = 'B100'
	        <if test="keyword != null and keyword != ''">
	            <choose>
	                <when test="opt == 'subject'">
	                    AND b.subject LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	                <when test="opt == 'nickname'">
	                    AND m.nickname LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	                <when test="opt == 'content'">
	                    AND b.content LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	            </choose>
	        </if>
	    ORDER BY 
	        b.board_idx DESC
	    LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="getSearchTotalPages" resultType="int">
	    SELECT  COUNT(*)
	    FROM 
	        board b
	    JOIN 
	        member m ON b.id = m.id
	    WHERE 
	        b.use_yn = 'Y'
	        AND b.is_map = 'Y'
	        AND b.code_name = 'B100'
	        <if test="keyword != null and keyword != ''">
	            <choose>
	                <when test="opt == 'subject'">
	                    AND b.subject LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	                <when test="opt == 'nickname'">
	                    AND m.nickname LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	                <when test="opt == 'content'">
	                    AND b.content LIKE CONCAT('%', #{keyword}, '%')
	                </when>
	            </choose>
	        </if>
	</select>
	
</mapper>